<div class="container">
    <div class="row custyle">
        <table class="table table-striped custab">
            <thead>
                <tr>
                    <th>Item Name</th>
        			<th>Item Location</th>
        			<th>Start Date</th>
                    <th>End Date</th>

                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tr *ngFor="let reservation of reservations">
				<td [routerLink]="['/item', reservation?.item._id]">{{ reservation?.item.name }}</td>
				<td>{{ reservation?.item.location }}</td>
				<td>{{ reservation?.start_date }}</td>
				<td>{{ reservation?.end_date }}</td>
                <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a (click)="deleteReservation(reservation._id)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
            </tr>
        </table>
    </div>
</div>

<nav *ngIf="pagination.length > 0" aria-label="Page navigation" class="text-center">
 	<ul class="pagination justify-content-center">
    	<li *ngIf="page == pagination[0]" class="page-item disabled">
    		<a class="page-link" (click)="newPage(page - 1)">Previous</a>
    	</li>
    	<li *ngIf="page != pagination[0]" class="page-item">
    		<a class="page-link" (click)="newPage(page - 1)">Previous</a>
    	</li>
    	<li *ngFor="let page_num of pagination" class="page-item">
    		<a class="page-link" (click)="newPage(page_num)">{{ page_num }}</a>
    	</li>
    	<li *ngIf="page == pagination[pagination?.length-1]" class="page-item disabled">
      		<a class="page-link" (click)="newPage(page + 1)">Next</a>
    	</li>
    	<li *ngIf="page != pagination[pagination?.length-1]" class="page-item">
      		<a class="page-link" (click)="newPage(page + 1)">Next</a>
    	</li>
  	</ul>
</nav>