<!-- Page Content -->
<div class="container">

		<!-- Portfolio Item Heading -->
		<h1 class="my-4">{{item?.name}}
		  <small>{{ item?.location }}</small>
		</h1>
	  
		<!-- Portfolio Item Row -->
		<div class="row">
	  
		  <div class="col-md-8">
			<img class="img-fluid" src="{{ item?.image }}" alt="{{ item?.name }}">
		  </div>
	  
		  <div class="col-md-4">
			<h3 class="my-3">{{item?.name}}</h3>
			<p>{{ item?.type }}</p>
			<p>{{ item?.description }}</p>
			<button class="btn btn-success" (click)="openReservationModal(item._id)">Reserve</button>
			<button *ngIf="isAdmin()" class="btn btn-danger" (click)="deleteItem(item._id)">Delete Item</button>
			<h3 class="my-3">Item Details</h3>
			<ul class="list-group">
			  <li class="list-group-item">Notes: {{ item?.notes }}</li>
			  <li class="list-group-item">Damaged: {{ item?.damaged_status }}</li>
			</ul>
		  </div>
	  
		</div>
		<!-- /.row -->
	  
		<!-- Related Projects Row -->
		<h3 class="my-4">Related Items</h3>
	  
		<div class="row">
	  
		  <div class="col-md-3 col-sm-6 mb-4">
			<a href="#">
				  <img class="img-fluid" src="http://placehold.it/500x300" alt="">
				</a>
		  </div>
	  
		  <div class="col-md-3 col-sm-6 mb-4">
			<a href="#">
				  <img class="img-fluid" src="http://placehold.it/500x300" alt="">
				</a>
		  </div>
	  
		  <div class="col-md-3 col-sm-6 mb-4">
			<a href="#">
				  <img class="img-fluid" src="http://placehold.it/500x300" alt="">
				</a>
		  </div>
	  
		  <div class="col-md-3 col-sm-6 mb-4">
			<a href="#">
				  <img class="img-fluid" src="http://placehold.it/500x300" alt="">
				</a>
		  </div>
	  
		</div>
		<!-- /.row -->
	  
	  </div>

	  <h3>Reservations</h3>
<ul *ngFor="let reservation of reservations">
	<li [routerLink]="['/reservation', reservation._id]"> {{reservation.start_date}}, {{reservation.end_date}} </li>
</ul>











<!--
<img src="{{item?.image}}" height="100px" width="100px"/>
<h1> {{item?.name}} </h1>
<hr/>
<ul>
	<li> {{ item?.location }} </li>
	<li> {{ item?.description }} </li>
	<li> {{ item?.damaged_status }} </li>
	<li> {{ item?.notes }} </li>
</ul>

<h3>Reservations</h3>
<ul *ngFor="let reservation of reservations">
	<li [routerLink]="['/reservation', reservation._id]"> {{reservation.start_date}}, {{reservation.end_date}} </li>
</ul>

-->