<!-- Page Content -->
<div>
	<Label>
		<!-- Portfolio Item Heading -->
		<h1 class="my-4">{{item?.name}}
		  <small>{{ item?.location }}</small>
		</h1>
	</Label>
		<!-- Portfolio Item Row -->
		<div class="row">

		  <div class="col-md-8">
			<img class="img-fluid" src="{{ item?.image }}" alt="{{ item?.name }}">
		  </div>
		  <ul class="list-group">

			<button class="btn btn-success" (click)="openReservationModal(item._id)">Reserve</button>
			<button *ngIf="isAdmin()" class="btn btn-danger" (click)="deleteItem(item._id)">Delete Item</button>
			<h3 class="my-3">Item Details</h3>
			<li class="list-group-item">{{ item?.type }}</li>
			<li class="list-group-item">{{ item?.description }}</li>
			<li class="list-group-item">{{ item?.notes }}</li>
			<li class="list-group-item">{{ item?.damaged_status }}</li>
			</ul>
	  
		</div>
		<!-- /.row -->
	  
		<!-- Related Projects Row -->
		<h3 *ngIf="similar_items.length > 0" class="my-4">Related Items</h3>
	  
		<div class="row">
	  
		  <div *ngFor="let similar_item of similar_items" class="col-md-3 col-sm-6 mb-4">
			<a [routerLink]="['/item', similar_item._id]">
				<img class="img-fluid" src="{{ similar_item.image }}" alt="{{ similar_item.name }}"> {{ similar_item.name }} - {{ similar_item.location }}
			</a>
		  </div>
	
		</div>

	  </div>
	  
	  <div style="margin-top: 20px; margin-bottom: 20px;" class="row custyle">
			<h3>Reservations</h3>
        <table class="table table-striped custab">
            <thead>
                <tr>
        			<th>Start Date</th>
                    <th>End Date</th>

                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tr *ngFor="let reservation of reservations">
				<td>{{ reservation?.start_date | date:'medium'}}</td>
				<td>{{ reservation?.end_date | date:'medium'}}</td>
                <td class="text-center">
                	<a [routerLink]="['/reservation', reservation?._id]" class="btn btn-primary btn-xs">
                		View
                	</a>
                	<button (click)="deleteReservation(reservation._id)" class="btn btn-danger btn-xs">
                		<span class="glyphicon glyphicon-remove"></span> Del
					</button>
                </td>
            </tr>
        </table>
    </div>
