
<!-- Navbar -->
<div class="navbar navbar-inverse navbar-static-top" role="navigation">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" title="WITventory">WITventory</a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">

        <ul class="nav navbar-nav">
            <li><a *ngIf="isLoggedIn()" (click)="logout()">Sign Out</a></li>
            <li><a [routerLink]="'/items'">Items</a></li>
            <li><a *ngIf="isLoggedIn()" (click)="userReservations()">My Reservations</a></li>
            <li *ngIf="isAdmin()"><a [routerLink]="'/createitem'">Create Item</a></li>
        </ul>

        <div class="col-sm-3 col-md-3 pull-right">
          <form class="navbar-form" role="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="term" id="term" #term>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="searchItems(term.value)"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
          </form>
        </div>
    </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>