.clear { clear: both; height: 60px; }

.navbar {
    min-height: 10px;
  }

.navbar-brand img{
    height: 30px;
 }

 footer {
   position: absolute;
   left: 0;
   bottom: 0;
   height: 40px;
   width: 100%;
 }
