.modal{
        overflow: visible !important;
      }
        .modal-backdrop.fade
        {
          opacity: 0.5;
        }
        .modal-open .modal
        {
          opacity: 1;
        }

        .modal-dialog{
          overflow-y: initial !important
      }
      .modal-body{
          max-height: calc(100vh - 200px);
          overflow-y: auto;
      }