<div class="container">
    <div class="row custyle">
        <div class="row">
            <div class="col-xl">
                <a *ngIf="isAdmin()" href="#" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new item</a>
            </div>
        </div>
        <table class="table table-striped custab">
            <thead>
                <tr>
                    <th>Item Name</th>
        			<th>Item Location</th>
        			<th>User Email</th>
        			<th>Start Date</th>
                    <th>End Date</th>

                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tr>
				<td [routerLink]="['/item', reservation?.item._id]">{{ reservation?.item.name }}</td>
				<td>{{ reservation?.item.location }}</td>
				<td>{{ reservation?.user.email }}</td>
				<td>{{ reservation?.start_date }}</td>
				<td>{{ reservation?.end_date }}</td>
                <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a (click)="deleteReservation(reservation._id)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
            </tr>
        </table>
    </div>
</div>