<div class="container">
    <div class="row custyle">
        <div class="row">
            <div class="col-xl">
                <a [routerLink]="['/reservations']" class="btn btn-primary btn-xs pull-right">Back to My Reservations</a>
            </div>
        </div>
        <table class="table table-striped custab">
            <thead>
                <tr>
                    <th>Item Name</th>
        			<th>Item Location</th>
        			<th>User Email</th>
        			<th>Start Date</th>
                    <th>End Date</th>

                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tr>
				<td [routerLink]="['/item', reservation?.item._id]">{{ reservation?.item.name }}</td>
				<td>{{ reservation?.item.location }}</td>
				<td>{{ reservation?.user.email }}</td>
				<td>{{ reservation?.start_date }}</td>
				<td>{{ reservation?.end_date }}</td>
                <td class="text-center"><button (click)="deleteReservation(reservation._id)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</button></td>
            </tr>
        </table>
    </div>
</div>