<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Content Row -->
          <div class="row">

            <div  class="col">

            
              <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">All Items</h6>
                  </div>
                    <div class="table-responsive">
                      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Location</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of items">
                            <td> {{ item.name }} </td>
                            <td> {{ item.location }} </td>
                            <td> 
                              <button class="btn btn-success btn-xs" [routerLink]="['/item', item._id]" >View</button>
                              <button class="btn btn-danger btn-xs" (click)="deleteItem(item._id)">Del</button> 
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    
                    
                </div>

                <div class="content-card">
                    <div  class=" shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Users</h6>
                        </div>
                        <!-- Card Body -->
                        <div style="margin-top: 20px;" *ngIf="!users || users.length === 0" class="alert alert-info container">No users to display!</div>
                        <div>
                            <table class="table" *ngIf="users.length > 0">
                            <thead>
                                <tr>
                                    <th>Date Created</th>
                                    <th>Email</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tr *ngFor="let user of users">
                        <td>{{ user?.created }}</td>
                        <td>{{ user?.email }}</td>
                                <td class="text-center">
                                  <a (click)="deleteUser(user?._id)" class="btn btn-success btn-xs">
                                    Delete
                                  </a>
                                </td>
                            </tr>
                        </table>
                        </div>
      <nav *ngIf="users_pagination.length > 1" aria-label="Page navigation" class="text-center">
                            <ul class="pagination justify-content-center">
                                <li *ngIf="users_page == users_pagination[0]" class="page-item disabled">
                                    <a class="page-link" (click)="newUsersPage(users_page - 1)">Previous</a>
                                </li>
                                <li *ngIf="users_page != users_pagination[0]" class="page-item">
                                    <a class="page-link" (click)="newUsersPage(users_page - 1)">Previous</a>
                                </li>
                                <li *ngFor="let page_num of users_pagination" class="page-item">
                                    <a class="page-link" (click)="newUsersPage(page_num)">{{ page_num }}</a>
                                </li>
                                <li *ngIf="users_page == users_pagination[users_pagination?.length-1]" class="page-item disabled">
                                    <a class="page-link" (click)="newUsersPage(users_page + 1)">Next</a>
                                </li>
                                <li *ngIf="users_page != users_pagination[users_pagination?.length-1]" class="page-item">
                                    <a class="page-link" (click)="newUsersPage(users_page + 1)">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>





          </div>

        
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->
