<div *ngIf="isAdmin()" class="row">
	<div class="col-lg-12 my-3">
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">ADD ITEM</button>				
	</div>
</div>

<div *ngIf="!items || items.length === 0" class="alert alert-info"> No items to display! Click add to begin adding an item!</div>


<div *ngFor="let item of items" >
	<div class="row" style="display: flex;
	align-items: stretch;" class="item col-xs-4 col-sm-4">
		<div class="card">
				<img class="card-img-top" src="{{ item.image }}" alt="{{ item.name }}"/>
			<ul class="list-group">
				<li class="list-group-item">
					<h4 class="group card-title inner list-group-item-heading">
				{{ item.name }}</h4>
				</li>
				<li class="list-group-item">
					<p class="group inner list-group-item-text">
				Type: {{ item.type }}</p>
				</li>
				<li class="list-group-item">
					<p class="group inner list-group-item-text">
				Description: {{ item.description }}</p>
				</li>
				<li class="list-group-item">
					<p class="group inner list-group-item-text">
						Location: {{ item.location }}
					</p>
				</li>
			</ul>
			<div class="row">
				<div class="col">
					<button class="btn btn-success btn-block" [routerLink]="['/item', item._id]" >View</button>
				</div>
				<div class="col">
					<button class="btn btn-primary btn-block" (click)="openReservationModal(item._id)" >Quick Reserve</button>
				</div>
			</div>
		</div>
	</div>
</div>

<nav *ngIf="pagination.length > 1" aria-label="Page navigation" class="text-center">
 	<ul class="pagination justify-content-center">
    	<li *ngIf="page == pagination[0]" class="page-item disabled">
    		<a class="page-link" (click)="newPage(page - 1)">Previous</a>
    	</li>
    	<li *ngIf="page != pagination[0]" class="page-item">
    		<a class="page-link" (click)="newPage(page - 1)">Previous</a>
    	</li>
    	<li *ngFor="let page_num of pagination" class="page-item">
    		<a class="page-link" (click)="newPage(page_num)">{{ page_num }}</a>
    	</li>
    	<li *ngIf="page == pagination[pagination?.length-1]" class="page-item disabled">
      		<a class="page-link" (click)="newPage(page + 1)">Next</a>
    	</li>
    	<li *ngIf="page != pagination[pagination?.length-1]" class="page-item">
      		<a class="page-link" (click)="newPage(page + 1)">Next</a>
    	</li>
  	</ul>
</nav>
<app-create-item-form></app-create-item-form>