<!--
<form>
	<div class="form-group">
		<label for="email">Email</label>
		<input type="text" class="form-control" id="email" #email>
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input type="password" class="form-control" id="password" #password>
	</div>
	<button type="button" (click)="loginUser(email.value, password.value)" class="btn btn-primary">Login User</button>
	<br>
	<a [routerLink]="'/signup'">Sign Up</a>
</form>
-->

<div class="html">
<div class="body">
<div class="login">
	<h1>Login</h1>
    <form method="post">
    	<input type="text" name="u" placeholder="Email" required="required" id="email" #email/>
        <input type="password" name="p" placeholder="Password" required="required" id="password" #password/>
		<button type="submit" (click)="loginUser(email.value, password.value)" class="btn btn-primary btn-block btn-large">Log In</button>
		<a [routerLink]="'/signup'">Sign Up</a>
    </form>
</div>
</div>
</div>