

<div  class="outter">
<div class="login-page">
	<div class="form">
	  <form class="register-form">
		<input type="text" placeholder="Email" id="new_email" #new_email/>
		<input type="password" placeholder="Password" id="new_password" #new_password/>
		<button (click)="createUser(new_email.value, new_password.value)">create</button>
		<p class="message">Already registered? <button class="authbutton">Sign In</button></p>
	  </form>
	  <form class="login-form">
		<input type="text" placeholder="Email" id="email" #email/>
		<input type="password" placeholder="Password" id="password" #password/>
		<button (click)="loginUser(email.value, password.value)">Login</button>
		<p class="message">Not registered? <button type="button" style="background-color: rgb(82, 82, 221);" class="btn btn-primary authbutton">Create an account</button></p>
	  </form>
	</div>
  </div>
</div>
