<div class="content-card">
    <div  class=" shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Need Replacement</h6>
        </div>
        <!-- Card Body -->
        <div style="margin-top: 20px;" *ngIf="!items || items.length === 0" class="alert alert-info"> No items need replacement!</div>
        <div>
            <table class="table" *ngIf="items.length > 0">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Item</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tr *ngFor="let item of items">
				<td [routerLink]="['/item', item?._id]">{{ item?.user.email }}</td>
				<td>{{ item?.item.name }}</td>
                <td class="text-center">
                	<a (click)="markResolved(item._id)" class="btn btn-success btn-xs">
                		Resolved
                	</a>
                </td>
            </tr>
        </table>
        </div>
        <nav *ngIf="pagination.length > 1" aria-label="Page navigation" class="text-center">
            <ul class="pagination justify-content-center">
                <li *ngIf="page == pagination[0]" class="page-item disabled">
                    <a class="page-link" (click)="newPage(page - 1)">Previous</a>
                </li>
                <li *ngIf="page != pagination[0]" class="page-item">
                    <a class="page-link" (click)="newPage(page - 1)">Previous</a>
                </li>
                <li *ngFor="let page_num of pagination" class="page-item">
                    <a class="page-link" (click)="newPage(page_num)">{{ page_num }}</a>
                </li>
                <li *ngIf="page == pagination[pagination?.length-1]" class="page-item disabled">
                    <a class="page-link" (click)="newPage(page + 1)">Next</a>
                </li>
                <li *ngIf="page != pagination[pagination?.length-1]" class="page-item">
                    <a class="page-link" (click)="newPage(page + 1)">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>